* {
	margin-inline: 0;
	padding-inline: 0;
	margin-block: 0;
	box-sizing: border-box;
}

body {
	background-color: white;
	background-image: linear-gradient(hsla(217, 19%, 27%, 1), hsla(221, 39%, 11%, 1));
	background-repeat: no-repeat;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
	color: rgba(255, 255, 255, 1);
}




/* Header: logo, navigation and search*/

header {
	height: 180px;
	width: 1180px;
	display: flex;
	align-items: center;
	margin: 0 auto;
	justify-items: stretch;
}



.logo {
	display: flex;
	align-items: center;
	gap: 11px;
}

.logo-icon {
	width: 35px;
	height: 35px;
	background-color: rgba(75, 85, 99, 1);
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-icon>p {
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	height: fit-content;
	line-height: 18px;
}

.logo-icon+p {
	font-size: 18px;
	line-height: 21px;
}

nav {
	margin: 0 0 0 77px;
}

nav ul {
	display: flex;
	gap: 40px;
}

nav li {
	list-style-type: none;
}

nav a {
	text-decoration: none;
	font-size: 16px;
	color: rgba(255, 255, 255, 1);
}

.search-form {
	width: 224px;
	display: flex;
	margin-left: auto;
}

.search-button {
	width: 14px;
	height: 14px;
	background: none;
	border: 0;
	margin: 13px 18px;
	/* border: solid 1px black; */
	padding: 0;
	position: absolute;
}

.search-button img {
	width: 14px;
	height: 14px;
	cursor: pointer;
}


.search-input {
	border-radius: 100px;
	height: 40px;
	background-color: rgba(31, 41, 55, 0.6);
	border: 0;
	padding: 11px 20px 11px 50px;
	font-size: 16px;
	line-height: 18;
	color: rgba(255, 255, 255, 0.6);
}

.search-input::placeholder {
	color: rgba(255, 255, 255, 0.6);
	font-size: 16px;
}

.search-input:focus {
	outline: 0;
}


/* Main */

main {
	width: 1080px;
	margin: 0 auto;
}

.post-info {
	width: fit-content;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	color: rgba(255, 255, 255, 0.6);
}

.post-info p {
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}

.text-delimeter-dot {
	width: 4px;
	height: 4px;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 100px;
	margin: auto 12px;
}

article {
	margin: 14px 92px 0 92px;
}

article>p {
	margin: 25px 94px;
	font-size: 16px;
	line-height: 32px;
}


h1 {
	font-size: 24px;
	font-weight: 400;
	line-height: 38px;
	margin: 0 auto;
	width: 525px;
	text-align: center;
}

.post-author {
	margin: 30px auto 0 auto;
	display: flex;
	flex-direction: row;
	width: fit-content;
}

.post-author>div {
	margin: 0 0 0 16px;
}

.post-author-photo {
	object-fit: cover;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	justify-content: center;
}

.post-author-name {
	font-size: 16px;
	line-height: 25px;
	margin: 0;
}

.post-author-role {
	font-size: 14px;
	margin: 0;
	line-height: 25px;
	color: rgba(255, 255, 255, 0.6);
}

.post-cover {
	margin: 28px 0 69px 0;
	width: -webkit-fill-available;
	display: block;
}

.post-cover+p {
	font-size: 20px;
}


footer {
	font-size: 16px;
	color: rgba(255, 255, 255, 0.6);
	height: 200px;
	display: flex;
	align-items: center;
}

footer>p {
	line-height: 28px;
	width: fit-content;
	margin: 0 auto;
}